extends layout.jade
block titulo
	title 404 | Desocabaya
block contenido
	.contenido-min
		img(src="img/Desocabaya.png" class="logo")
		h1.error_404_h1 ERROR 404
		h2.error_404_h2 LO QUE BUSCAS NO ESTA AQUÍ
