extends layout.jade
block titulo
	title Desocabaya
block contenido
	.contenido
		img(src="img/Desocabaya.png", class="logo")
		.estrella.primera
		.estrella.segunda
		.estrella.tercera
		.estrella.cuarta
		.estrella.quinta
		.estrella.sexta
		.mapa
		.publicando Mostraremos la aplicación en
		.countdown
			.counter
				.d
					span.dias
					span Días
				div
					span.horas
					span Horas
				div
					span.minutos
					span Minutos
				div
					span.segundos
					span Segundos
		a(href="https://facebook.com/Desocabaya", class="btn-enlace", target="_blank")
			span.icon-facebook2.btn-redes
		a(href="https://twitter.com/DeSocabaya", class="btn-enlace", target="_blank")
			span.icon-twitter2.btn-redes