<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		block titulo
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="icon", href="favicon.ico")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato")
		link(rel="stylesheet", href="css/estilos.css")
		meta(name="description", content="Todo comienza con una necesidad el buscar los lugares y sitios en Socabaya | Desocabaya.com")
		meta(property="og:title", content="Desocabaya")
		meta(property="og:description", content="Todo comienza con una necesidad el buscar los lugares y sitios en Socabaya | Desocabaya.com")
		meta(property="og:type", content="website")
		meta(property="og:site_name", content="Desocabaya.com")
		meta(property="og:url", content="https://desocabaya.com/")
		meta(property="og:image", content="https://desocabaya.com/img/desocabaya-facebook.png")
		meta(property="og:fb_admins", content="100000476487163")
		block head
	body
		block contenido
		script(src="js/main.min.js")